
.carousel-item h4 {
    font-size: 50px;
    margin-bottom: 10px;
}

.carousel-item   {
    font-size: 20px;
    padding-bottom: 250px;
    text-align: center;
}

body{
    overflow-x: hidden;
}

div#navbarNavDropdown {
    margin-left: 53%;
}
    
.icon {
    font-size: 30px;
    float: left;
    margin-right: 15px;
}

.icon i {
    font-size: 40px;
}

.title {
    padding: 10px 20px 10px 80px;
}

.title a {
    text-decoration: none;
    color: black;
    font-size: 35px;
}

.tp {
    text-decoration: none;
    color: black;
}

#services {
    margin-top: 180px;
    margin-bottom: 50px;
}


.row img {
    padding-left: 50px;
}

.section-title {
    margin-bottom: 30px;
}

.section-title h2 {
    text-align: center;
}

.section-title p {
    text-align: center;
}

.container {
    margin: 50px;
    border: 5px lightgray;
}

.container span {
    padding: 20px 0px 20px 0px;
    color: green;
    font-size: 30px
}

.container-item p {
    color: lightgray;
}

.img_logo {
    float: left;
    margin: 20px 0px 20px 0px;

}

.i1 {
    margin-left: 40px;
    height: 55px;
}

.sa {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.sp {
    text-align: left;
}

#cta {
    background-color: lightgreen;
    padding: 5px 0px 1px 0px;
    margin: 20px 0px 20px 0px;
}

.align-middle {
    text-decoration: none;
    color: white;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;

}

.align-middle:hover {
    color: green;
    background-color: white;
}

.filter-active {
    text-decoration: none;
}

#team {
    margin-top:100px;
}



#pills-home-tab {
    margin-left: 600px;
}



.pro {
    width: 100%;
}     

.pro1 img {
    height: 250px;
    float: left;
    padding: 10px 30px 10px 30px;
    width: 100%;
 
 }



 
 .pro2 img {
    height: 250px;
    float: left;
    padding: 20px 30px 20px 30px;
    width: 100%;
 }
 .pro3 img {
    height: 250px;
    float: left;
    padding: 20px 30px 20px 30px;
 }
 .pro4 img {
    height: 250px;
    float: left;
    padding: 20px 30px 20px 30px;
 }
 .pro5 img {
    height: 250px;
    float: left;
    padding: 20px 30px 20px 30px;
 }
 .pro6 img {
    height: 250px;
    float: left;
    padding: 20px 30px 20px 30px;
 }
 .pro7 img {
    height: 250px;
    float: left;
    padding: 20px 30px 20px 30px;
 }
 .pro8 img {
    height: 250px;
    float: left;
    padding: 20px 30px 20px 30px;
 }
 .pro9 img {
    height: 250px;
    float: left;
    padding: 20px 30px 20px 30px;
 }




  

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(240, 89, 7, 0.82);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;

  
}

.item {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    float: left;
}

.item:hover .overlay {
  bottom: 0;
  height: 100%;
  width: 100%;
}


.fade-overlay {
    height: 100%;
    opacity: 0;
}

.item:hover .fade-overlay {
  opacity: 1;
}

.text {
    color: white;
    font-size: 1.2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



















img {
    max-width: 100%;
    height: auto;
}
.section {
            padding: 60px 0;
            min-height: 100vh;
        }
span, a, a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.blog img{
    max-width: 100%;
}
.blog-head {
  margin-bottom: 70px;
}

.blog-head h6{
  color: #f05907;
  position: relative;
  display: inline-block;
  text-transform: capitalize;
}

.blog-head h6:after, .blog-head h6:before{
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  background: #f05907;
  top: 50%;
}

.blog-head h6:after{
  right: 120%;
}

.blog-head h6:before{
  left: 120%;
}





.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(240, 89, 7, 0.82);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.item {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}

.item:hover .overlay {
  bottom: 0;
  height: 100%;
  width: 100%;
}

.top-overlay {
    bottom: 100%;    
    height: 0;
}
.item:hover .top-overlay {
  bottom: 0;
}
.bottom-overlay {
    top: 100%;
}

.item:hover .bottom-overlay {
  top: 0;
}

.right-overlay {
    left: 100%;
    height: 100%;
}

.item:hover .right-overlay {
  left : 0;
}

.left-overlay {
    right: 100%;
    height: 100%;
    left:auto;
}

.item:hover .left-overlay {
  right : 0;
}
.fade-overlay {
    height: 100%;
    opacity: 0;
}

.item:hover .fade-overlay {
  opacity: 1;
}
.title-overlay {
    height: auto;
    top: auto;
    opacity: 0;
}
.item:hover .title-overlay {
    opacity: 1;
    height: auto;
    padding: 50px 0;
}
.text {
    color: white;
    font-size: 1.2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}








